*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #600282;
}

#root {  
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/* .container::before {
  content: '';
  background: url('../src/assets/background_purple.jpg') repeat-x center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
} */

.container {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.header h1 {
  margin: 0 auto;
}

.header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.title {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px;
  color: #000;
  background: rgba(255,255,255,0.5);
}

.title:hover {
  cursor: pointer;
}

.input {
  height: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid grey;
  background: rgba(255,255,255,0.5);
  color: #000;
  font-size: 20px;
}

.inputCenter {
  height: 80px;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid grey;
  background: rgba(255,255,255,0.5);
  color: #000;
  font-size: 20px;
  margin: 200px auto;
}

.input:hover {
  cursor: pointer;
  background-color: #fff;
}

.input:focus {
  background-color: #fff;
}

.input:focus::placeholder {
  color: transparent;
}

.main {
  flex: 1;
}

.location {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
} 

.temperature {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid grey;
}

.temperature h2 {
  font-size: 60px;
}

.feels_like {
  font-size: 20px;
}

.feels_like span {
  font-size: 17px;
}

.description {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 100px;
  margin: 30px 0;
  color: #fff;
}

.other {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid grey;
  width: 400px;
  margin: 0 auto;
  font-size: 20px;
}

.other p {
  font-size: 17px;
}

.sunTime {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid grey;
  width: 500px;
  margin: 50px auto;
}
.fiveDays {
  margin: 0 auto;
  width: auto;
}
.fiveDays li {
  list-style-type: none;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

li {
  height: 150px;
  border: 1px solid grey;
  border-radius: 15px;
  align-items: center;
  margin: 20px;
}

li .icon {
  margin: 0;
}

li h2 {
  font-size: 40px;
}

.fiveDays h3 h4 {
  margin: 0 10px;
}

.footer {
  position: sticky;
  bottom: 0;
  font-size: 16px;
  padding: 10px 0;
  text-align: right;
}

.footer a {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
}

@media (max-width: 600px) {
  #root {
    padding: 0;
  }
  .container::before {
    height: 800px;
  }
  .header {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .header h1 {
    margin: 10px 0px;
    font-size: 25px;
  }
  .input {
    width: 200px;
  }
  .temperature {
    gap: 5px;
    width: 250px;
    padding: 0 5px;
  }
  .temperature h2 {
    margin: 20px;
  }
  .icon {
    width: 100px;
  }
  .other {
    flex-direction: column;
    gap: 0;
    width: 200px;
  }
  .other h4 {
    margin: 10px 0 0;
  }
  .other p {
    margin: 10px 0;
  }
  .sunTime {
    flex-direction: column; 
    gap: 0;
    width: 200px;
    margin: 5px auto; 
  }
  .sunTime p{
    margin: 5px;
  }
}
